{% extends 'base.html.twig' %}

{% block title %}FCT!{% endblock %}

{% block body %}


    <div class="row m-0">

        <div class="col-sm-12 col-md-12 col-lg-12 mt-5">

            <h3>Benvingut a FCT</h3>
        </div>
    </div>
    <div class="row m-0 mt-2">

        <div class="col-sm-12 col-md-12 col-lg-12 ">

            <div class="card shadow ">

                <div class="card-header">
                    <h5 class="m-0 titol-informacio">Registre d'accions recents</h5>

                </div>

                <div class="card-body">

                    <div class="row m-0">

                        <div class="col-sm-12 col-md-12 col-lg-6 p-0">
                            <div class="contenedor bg-white">

                                <div class="row m-0">

                                    <div class="d-none d-md-block col-sm-2 col-md-2 col-lg-2 p-2 ">
                                        <div class="subcontainer">
                                            <h6 class="mb-0">05/12/22</h6>
                                        </div>

                                    </div>

                                    <div class="col-sm-10 col-md-8 col-lg-8 bg-white p-2 ">

                                        <div class="subcontainer">

                                            <h6 class="mb-0">Vicent Jorda - Arribant a un acord - Fes-te web</h6>

                                        </div>

                                    </div>


                                    <div class="col-sm-2 col-md-2 col-lg-2 bg-white p-2"> <button class="btn bg-turq  w-100 h-100"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        </button></div>



                                </div>
                                <div class="row m-0">

                                    <div class="d-none d-md-block col-sm-2 col-md-2 col-lg-2 p-2 ">
                                        <div class="subcontainer">
                                            <h6 class="mb-0">05/12/22</h6>
                                        </div>

                                    </div>

                                    <div class="col-sm-10 col-md-8 col-lg-8 bg-white p-2 ">

                                        <div class="subcontainer">

                                            <h6 class="mb-0">Vicent Jorda - Arribant a un acord - Fes-te web</h6>

                                        </div>

                                    </div>


                                    <div class="col-sm-2 col-md-2 col-lg-2 bg-white p-2"> <button class="btn bg-turq  w-100 h-100"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        </button></div>



                                </div>
                                <div class="row m-0">

                                    <div class="d-none d-md-block col-sm-2 col-md-2 col-lg-2 p-2 ">
                                        <div class="subcontainer">
                                            <h6 class="mb-0">05/12/22</h6>
                                        </div>

                                    </div>

                                    <div class="col-sm-10 col-md-8 col-lg-8 bg-white p-2 ">

                                        <div class="subcontainer">

                                            <h6 class="mb-0">Vicent Jorda - Arribant a un acord - Fes-te web</h6>

                                        </div>

                                    </div>


                                    <div class="col-sm-2 col-md-2 col-lg-2 bg-white p-2"> <button class="btn bg-turq  w-100 h-100"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        </button></div>



                                </div>
                                <div class="row m-0">

                                    <div class="d-none d-md-block col-sm-2 col-md-2 col-lg-2 p-2 ">
                                        <div class="subcontainer">
                                            <h6 class="mb-0">05/12/22</h6>
                                        </div>

                                    </div>

                                    <div class="col-sm-10 col-md-8 col-lg-8 bg-white p-2 ">

                                        <div class="subcontainer">

                                            <h6 class="mb-0">Vicent Jorda - Arribant a un acord - Fes-te web</h6>

                                        </div>

                                    </div>


                                    <div class="col-sm-2 col-md-2 col-lg-2 bg-white p-2"> <button class="btn bg-turq  w-100 h-100"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        </button></div>



                                </div>


                            </div>


                        </div><!--fi 1 columna-->
                        <div class="col-sm-12 col-md-12 col-lg-6 p-0">
                            <div class="contenedor bg-white">

                                <div class="row m-0">

                                    <div class="d-none d-md-block col-sm-2 col-md-2 col-lg-2 p-2 ">
                                        <div class="subcontainer">
                                            <h6 class="mb-0">05/12/22</h6>
                                        </div>

                                    </div>

                                    <div class="col-sm-10 col-md-8 col-lg-8 bg-white p-2 ">

                                        <div class="subcontainer">

                                            <h6 class="mb-0">Vicent Jorda - Arribant a un acord - Fes-te web</h6>

                                        </div>

                                    </div>


                                    <div class="col-sm-2 col-md-2 col-lg-2 bg-white p-2"> <button class="btn bg-turq  w-100 h-100"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        </button></div>



                                </div>
                                <div class="row m-0">

                                    <div class="d-none d-md-block col-sm-2 col-md-2 col-lg-2 p-2 ">
                                        <div class="subcontainer">
                                            <h6 class="mb-0">05/12/22</h6>
                                        </div>

                                    </div>

                                    <div class="col-sm-10 col-md-8 col-lg-8 bg-white p-2 ">

                                        <div class="subcontainer">

                                            <h6 class="mb-0">Vicent Jorda - Arribant a un acord - Fes-te web</h6>

                                        </div>

                                    </div>


                                    <div class="col-sm-2 col-md-2 col-lg-2 bg-white p-2"> <button class="btn bg-turq  w-100 h-100"><i class="fa fa-external-link" aria-hidden="true"></i>
                                        </button></div>



                                </div>



                            </div>



                        </div><!--fi 2 columna-->
                    </div><!--row per a separar en dos les columnes-->
                    <div class="row m-0 "><!--Row de paginacio-->

                        <div class="col-12 mt-3">

                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link shadow-none" href="#" tabindex="-1" aria-disabled="true">Previ</a>
                                    </li>
                                    <li class="page-item "><a class="page-link color-heavyBlue shadow-none " href="#">1</a></li>
                                    <li class="page-item"><a class="page-link color-heavyBlue shadow-none" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link color-heavyBlue shadow-none" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link color-heavyBlue shadow-none" href="#">Seguent</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>


                </div>
            </div>




        </div>
        <!--<div class="col-6 p-0">


            <div class="card shadow h-100 ">

                <div class="card-header">

                  <h5 class="m-0 titol-informacio">Alguna cosa</h5>

                </div>

                <div class="card-body">

                    <div class="contingut bg-white">

                        <h3>No se que ficar aci</h3>

                    </div>
                </div>

            </div>


        </div>-->
    </div>

    <div class="row m-0 mt-5 mb-5 ">

        <div class="col-sm-12 col-md-8 col-lg-8">
            <div class="iframe-box">

                <iframe width="560" height="315" src="https://www.youtube.com/embed/VfGW0Qiy2I0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            </div>

        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 ">

            <div class="card shadow contenedor ">

                <div class="card-header">

                    <h5 class="m-0 titol-informacio">Tutorials</h5>

                </div>

                <div class="card-body p-0 ">

                    <div class="bg-white h-100 ">

                        <div class="row m-0 h-25">

                            <div class="col-12 p-0 d-flex align-items-center h-100">

                                <div class="enllasContainer w-100 h-100">

                                    <a href="#" class="enllasVideo py-3"><span>Introduccio a FCT</span></a>

                                </div>


                            </div>
                        </div>

                        <div class="row m-0 h-25">

                            <div class="col-12 p-0 d-flex align-items-center h-100">

                                <div class="enllasContainer w-100 h-100">

                                    <a href="#" class="enllasVideo py-3"><span>Introduccio a FCT</span></a>

                                </div>


                            </div>
                        </div>

                        <div class="row m-0 h-25">

                            <div class="col-12 p-0 d-flex align-items-center h-100">

                                <div class="enllasContainer w-100 h-100">

                                    <a href="#" class="enllasVideo py-3"><span>Introduccio a FCT</span></a>

                                </div>


                            </div>
                        </div>

                        <div class="row m-0 h-25">

                            <div class="col-12 p-0 d-flex align-items-center h-100">

                                <div class="enllasContainer w-100 h-100">

                                    <a href="#" class="enllasVideo py-3"><span>Introduccio a FCT</span></a>

                                </div>


                            </div>
                        </div>


                    </div>

                </div>
            </div>



        </div>

    </div>


{% endblock %}
