{% extends 'base.html.twig' %}

{% block title %}New Alumne{% endblock %}

{% block body %}
    <h1>Create new Alumne</h1>

    {{ include('alumne/_form.html.twig') }}

    <a href="{{ path('alumne_index') }}">back to list</a>
{% endblock %}
